canvas {
  position: fixed;
  top: 0;
  left: 0;
}

a {
  color: blue;
}
.control-inactive button {
  color: #888;
}

#container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#header {
  position: absolute;
  display: flex;
  color: rgb(228, 96, 8);
  width: 30%;
  height: 3.2rem;
  /* background: rgb(255, 253, 253); */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-bottom: 2px solid rgb(228, 96, 8);
  text-align: center;
  font-weight: bold;
  font-size: 3rem;

  top: 30px;
  flex-wrap: wrap;
  justify-content: center;

}

#menubar {
  position: absolute;
  display: flex;
  width: 100%;
  height: 32px;
  background: #111;
  padding: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  flex-wrap: wrap;
justify-content: flex-end;
}

#file1 {
  position: relative;
  color: #a2a2a2;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  text-shadow: 1px 1px 0px #000;
}

#file2 {
  position: relative;
  color: #a2a2a2;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  text-shadow: 1px 1px 0px #000;
}

.label {
  color: #FFF;
  font-family: sans-serif;
  padding: 2px;
  background: rgba( 0, 0, 0, .6 );
}

#selection {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 999;
}

#selection > div {
  height: 128px;
  width: 128px;
  border: 1px solid white;
}
